.mainmenubtn {
    background-color: rgb(179, 179, 179);
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 20px;
}

.mainmenubtn:hover {
    background-color: rgba(57, 57, 58, 0.838);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: skyblue;
    min-width: 200px;
}

.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}


.total{
    background-color: rgb(191, 238, 222);
}

.left{
    background-color: antiquewhite;
}

.centro{
    background-color: beige;
}